<!DOCTYPE HTML>

<html lang="en-US">
    <head>

        <!--<link rel='stylesheet'  href="@{'public/css/styles.css'}" />-->
        <link rel='stylesheet'  href="@{'public/plugin/revslider/css/settings.css'}" />
        <link rel='stylesheet'  href="@{'public/plugin/revslider/css/dynamic-captions.css'}" />
        <link rel='stylesheet'  href="@{'public/plugin/revslider/css/static-captions.css'}" />
        <link rel='stylesheet'  href="@{'public/css/slicknav.css'}" />
        <link rel='stylesheet'  href="@{'public/css/custom.php.css'}" />
        <link rel='stylesheet'  href="@{'public/css/style.css'}" />
        <link rel='stylesheet'  href="@{'public/css/css.css'}" />
        <link rel='stylesheet'  href="@{'public/css/transitions.css'}" />

        <link rel="stylesheet" media="screen" href="@{'public/plugin/uLoginBox/css/uLoginbox.css'}" />
        <link rel="stylesheet" media="screen" href="@{'public/css/main.css'}"/>
        <link rel="stylesheet" media="screen" href="@{'public/css/messagesBox.css'}"/>
        <link rel="stylesheet" media="screen" href="@{'public/css/css-form.css'}"/>
        <link rel='stylesheet'  href="@{'public/plugin/bootstrap/css/bootstrap.css'}" />



        <script type="text/javascript" src="@{'public/js/jquery1.10.2.js'}"></script> 
        <script type="text/javascript" src="@{'public/js/jquery-migrate.min.js'}"></script> 
        <script type="text/javascript" src="@{'public/js/comment-reply.min.js'}"></script> 
        <script type="text/javascript" src="@{'public/plugin/revslider/js/jquery.themepunch.plugins.min.js'}"></script> 
        <script type="text/javascript" src="@{'public/plugin/revslider/js/jquery.themepunch.revolution.min.js'}"></script> 
        <script type="text/javascript" src="@{'public/js/html5.js'}"></script> 
        <script type="text/javascript" src="@{'public/js/modernizr.js'}"></script> 
        <script type="text/javascript" src="@{'public/plugin/bootstrap/js/bootstrap.js'}"></script>
        <script type="text/javascript" src="@{'public/js/util.js'}"></script>
        <script type="text/javascript" src="@{'public/plugin/uLoginBox/js/uLoginBox.js'}"></script>


        <!--[if gte IE 9]>
        <style>
        .video-js video { display:none; }
        .video-js .vjs-poster { display:block !important; }
        </style>
        <![endif]-->
    </head>
    <body class="home">
        <header class="def header">
            <div class="shell">
                <section class="left location"><span class="iconed-address">Place1</span><span class="iconed-phone">Ph1</span></section>		
                <a href="http://demo.scheetzdesigns.com/espresso"><img src="@{'public/img/bcg-4.png'}" class="logo-image" alt="" /></a>
                <a class="cart-contents" href="http://demo.scheetzdesigns.com/espresso/cart/" title="View your shopping cart">Place2</a>
            </div>
        </header>

        <nav id="main-nav" class="full">
            <div class="shell">
                <ul id="menu-main-menu" class="menu">
                    <li class="menu-item "><a href="#" id="login" >Menu 1</a>
                        <section class="dropdown"><ul>
                                <li class="menu-item"><a href="#">Sub-1</a></li>
                                <li class="menu-item"><a href="#">Sub-2</a></li>
                                <li class="menu-item"><a href="#">Sub-3</a></li>
                            </ul>
                        </section>
                    </li>
                    <li class="menu-item" id="login2"><a href="#">Menu 2</a>
                        <section class="dropdown"><ul>
                                <li class="menu-item"><a href="#">Sub-1</a></li>
                                <li class="menu-item"><a href="#">Sub-2</a></li>
                            </ul></section>
                    </li>
                    <li class="menu-item "><a href="#">Menu-3</a>
                    </li>
                </ul>	
            </div>
        </nav>
        <div style="height: 60px; width: 100%;background: rgb(169,3,41); /* Old browsers */
             /* IE9 SVG, needs conditional override of 'filter' to 'none' */
             background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhOTAzMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0NCUiIHN0b3AtY29sb3I9IiM4ZjAyMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNmQwMDE5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
             background: -moz-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
             background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
             background: -webkit-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
             background: -o-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 12+ */
             background: -ms-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
             background: radial-gradient(ellipse at center,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
             " class="notDisplayable" id="tt">
            <div class="erroneou" style="height: 100%;  width: 100%;  z-index: 1; color: white; font-weight: bold;
                 line-height: 50%;
                 text-align: center;" >
                <span style="font-family: Garamond, serif;
                      line-height: 1em;
                      color: #ffffff;
                      font-weight:bold;
                      font-size: 18px;
                      text-shadow:0px 0px 0 rgb(128,128,128),1px 1px 0 rgb(0,0,0), 2px 2px 0 rgb(-127,-127,-127),3px 3px 2px rgba(0,0,0,0.15),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
                      line-height: 50px; 
                      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">${flash.error}asasdkasdaskdasd  andand  asdas</span>
                <div class="msg-box-icon pngfix" style="text-align: center;margin: 0 auto; background: green">

                </div>
            </div>
        </div>
        <div id="slider-wrap" class="loader-block top-loader"><!-- START REVOLUTION SLIDER 4.1 fullwidth mode -->

            <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#111111;padding:0px;margin-top:0px;margin-bottom:0px;max-height:558px;">
                <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:558px;height:558;">
                    <ul>	<!-- SLIDE  -->
                        <li data-transition="random" data-slotamount="7" data-masterspeed="300" >
                            <!-- MAIN IMAGE -->
                            <img src="@{'public/img/mainback.png'}"  alt="slide_image_01.883b834b5c"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-fade fadeout fullscreenvideo"
                                 data-x="0"
                                 data-y="0"
                                 data-speed="800"
                                 data-start="200"
                                 data-easing="Power3.easeInOut"
                                 data-endspeed="800"
                                 data-autoplay="true"
                                 data-autoplayonlyfirsttime="false"
                                 data-dottedoverlay="" style="z-index: 2"><video class="video-js vjs-default-skin" loop preload="none" width="100%" height="100%" 
                                                                            poster=@{'public/img/mainback.png'} data-setup="{}"> 
                                    <!--                                    <source src='http://demo.scheetzdesigns.com/espresso_assets/espresso_slider_video.mp4' type='video/mp4' />
                                                                        <source src='http://demo.scheetzdesigns.com/espresso_assets/espresso_slider_video.webm' type='video/webm' />
                                                                        <source src='http://demo.scheetzdesigns.com/espresso_assets/espresso_slider_video.png.ogv' type='video/ogg' />-->
                                </video>

                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-fade"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="0"
                                 data-speed="300"
                                 data-start="250"
                                 data-easing="Power3.easeInOut"
                                 data-endspeed="300"
                                 style="z-index: 3"><img src="http://demo.scheetzdesigns.com/espresso/files/2013/11/grid.png" alt="">
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption espresso_large_white sft stt"
                                 data-x="center" data-hoffset="0"
                                 data-y="bottom" data-voffset="-375"
                                 data-speed="400"
                                 data-start="1000"
                                 data-easing="easeOutExpo"
                                 data-endspeed="400"
                                 data-endeasing="easeOutExpo"
                                 style="z-index: 4">Smar Supervisory.
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption medium_text sft stt"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="-45"
                                 data-speed="400"
                                 data-start="1400"
                                 data-easing="easeOutExpo"
                                 data-endspeed="400"
                                 style="z-index: 5">Sistema supervisório da planta da Smar
                            </div>

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption sft"
                                 data-x="center" data-hoffset="0"
                                 data-y="325" 
                                 data-speed="300"
                                 data-start="1900"
                                 data-easing="Power3.easeInOut"
                                 data-endspeed="300"
                                 style="z-index: 6"><a href="http://demo.scheetzdesigns.com/espresso/events/upcoming/"><img src="http://demo.scheetzdesigns.com/espresso/files/2013/11/button_events.jpg" alt=""></a>
                            </div>

                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption sft"
                                 data-x="right" data-hoffset="-836"
                                 data-y="325" 
                                 data-speed="300"
                                 data-start="1800"
                                 data-easing="Power3.easeInOut"
                                 data-endspeed="300"
                                 style="z-index: 7"><a href="http://demo.scheetzdesigns.com/espresso/espresso-menus/coffees/"><img src="http://demo.scheetzdesigns.com/espresso/files/2013/11/button_menu.jpg" alt=""></a>
                            </div>

                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption sft"
                                 data-x="836"
                                 data-y="325" 
                                 data-speed="300"
                                 data-start="2000"
                                 data-easing="Power3.easeInOut"
                                 data-endspeed="300"
                                 style="z-index: 8"><a href="http://demo.scheetzdesigns.com/espresso/reservation/"><img src="http://demo.scheetzdesigns.com/espresso/files/2013/11/button_book.jpg" alt=""></a>
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="600" >
                            <!-- MAIN IMAGE -->
                            <img src="@{'public/img/mainback.png'}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption large_bg_black skewfromleftshort tp-resizeme"
                                 data-x="104"
                                 data-y="bottom" data-voffset="-393"
                                 data-speed="300"
                                 data-start="300"
                                 data-easing="Power3.easeInOut"
                                 data-endspeed="300"
                                 style="z-index: 2">Confiabilidade
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption modern_big_redbg skewfromleftshort tp-resizeme"
                                 data-x="104"
                                 data-y="165" 
                                 data-speed="300"
                                 data-start="500"
                                 data-easing="Power3.easeInOut"
                                 data-endspeed="300"
                                 style="z-index: 3">Precisão
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption large_bg_green skewfromrightshort tp-resizeme"
                                 data-x="right" data-hoffset="-138"
                                 data-y="bottom" data-voffset="-225"
                                 data-speed="300"
                                 data-start="700"
                                 data-easing="Power3.easeInOut"
                                 data-endspeed="300"
                                 style="z-index: 4">Segurança
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption mediumwhitebg skewfromrightshort tp-resizeme"
                                 data-x="right" data-hoffset="-138"
                                 data-y="333" 
                                 data-speed="300"
                                 data-start="900"
                                 data-easing="Power3.easeInOut"
                                 data-endspeed="300"
                                 style="z-index: 5">Controle
                            </div>
                        </li>
                    </ul>
                </div>
            </div>			
            <script type="text/javascript">

                var tpj=jQuery;				
                tpj.noConflict();				
                var revapi1;
				
                tpj(document).ready(function() {
								
                    if(tpj('#rev_slider_1_1').revolution == undefined)
                        revslider_showDoubleJqueryError('#rev_slider_1_1');
                    else
                        revapi1 = tpj('#rev_slider_1_1').show().revolution(
                    {
                        dottedOverlay:"none",
                        delay:9000,
                        startwidth:1440,
                        startheight:558,
                        hideThumbs:200,
						
                        thumbWidth:100,
                        thumbHeight:50,
                        thumbAmount:2,
						
                        navigationType:"bullet",
                        navigationArrows:"solo",
                        navigationStyle:"round",
						
                        touchenabled:"on",
                        onHoverStop:"on",
						
                        navigationHAlign:"center",
                        navigationVAlign:"bottom",
                        navigationHOffset:0,
                        navigationVOffset:20,

                        soloArrowLeftHalign:"left",
                        soloArrowLeftValign:"center",
                        soloArrowLeftHOffset:20,
                        soloArrowLeftVOffset:0,

                        soloArrowRightHalign:"right",
                        soloArrowRightValign:"center",
                        soloArrowRightHOffset:20,
                        soloArrowRightVOffset:0,
								
                        shadow:0,
                        fullWidth:"on",
                        fullScreen:"off",

                        stopLoop:"off",
                        stopAfterLoops:-1,
                        stopAtSlide:-1,

						
                        shuffle:"off",
						
                        autoHeight:"off",						
                        forceFullWidth:"off",						
												
												
                        hideThumbsOnMobile:"off",
                        hideBulletsOnMobile:"off",
                        hideArrowsOnMobile:"off",
                        hideThumbsUnderResolution:0,
						
                        hideSliderAtLimit:0,
                        hideCaptionAtLimit:0,
                        hideAllCaptionAtLilmit:0,
                        startWithSlide:0,
                        videoJsPath:"http://demo.scheetzdesigns.com/espresso/wp-content/plugins/revslider/rs-plugin/videojs/",
                        fullScreenOffsetContainer: ""	
                    });
				
                });	//ready
				
            </script>

            <!-- END REVOLUTION SLIDER --></div>
        <section id="ctas">
            asdasd
        </section>
        <div class="bottom-spacer"></div>
        <section id="footer-widgets">
            <div class="overlay">
                <div class="shell clearfix">


                </div>
            </div>
        </section><footer class="clearfix">
            <div class="shell">
                <section class="left">
                    Copyright &copy;2013 Eduardo Medeiros.
                </section>
            </div>
        </footer><div class="customizer-style-main"></div><div class="customizer-style-alt"></div>

        <script type='text/javascript' src='../../public/js/jquery.slicknav.min.js'></script>
        <script type='text/javascript' src='../../public/js/jquery.easing.js'></script>
        <script type='text/javascript' src='../../public/js/fitvids.js'></script>
        <script type='text/javascript' src='../../public/js/jquery.main.js'></script>

        <!--<script type="text/javascript" src="@{'public/js/jquery.slicknav.min.js'}"></script>--> 

        <!--<script type='text/javascript' src="@{'public/js/jquery.slicknav.min.js'}" />-->
        <!--<script type='text/javascript' src="@{'public/js/jquery.carouFredSel-6.2.1-packed.js'}" />-->
        <!--<script type='text/javascript' src="@{'public/js/jquery.collagePlus.min.js'}" />-->
        <!--<script type='text/javascript' src="@{'public/js/jquery.collageCaption.min.js'}" />-->
        <!--<script type='text/javascript' src="@{'public/js/jquery.removeWhitespace.min.js'}" />-->
        <!--<script type='text/javascript' src="@{'public/js/jquery.easing.js'}" />-->
        <!--<script type='text/javascript' src="@{'public/js/fitvids.js'}" />-->
        <!--<script type='text/javascript' src="@{'public/js/StackBoxBlur.js'}" />-->
        <!--<script type='text/javascript' src="@{'public/js/magnific.js'}" />-->
        <!--<script type='text/javascript' src="@{'public/js/jquery.blurSlider.js'}" />-->
        <!--<script type='text/javascript' src="@{'public/js/jquery.easing.js'}" />-->
        <!--<script type='text/javascript' src="@{'public/js/jquery.main.js'}" />-->

        <!--        <script type='text/javascript' src='http://demo.scheetzdesigns.com/espresso/wp-content/themes/espresso/js/jquery.slicknav.min.js?ver=1.0'></script>
                <script type='text/javascript' src='http://demo.scheetzdesigns.com/espresso/wp-content/themes/espresso/js/jquery.carouFredSel-6.2.1-packed.js?ver=1.0'></script>
                <script type='text/javascript' src='http://demo.scheetzdesigns.com/espresso/wp-content/themes/espresso/js/jquery.collagePlus.min.js?ver=1.0'></script>
                <script type='text/javascript' src='http://demo.scheetzdesigns.com/espresso/wp-content/themes/espresso/js/jquery.collageCaption.min.js?ver=1.0'></script>
                <script type='text/javascript' src='http://demo.scheetzdesigns.com/espresso/wp-content/themes/espresso/js/jquery.removeWhitespace.min.js?ver=1.0'></script>
                <script type='text/javascript' src='http://demo.scheetzdesigns.com/espresso/wp-content/themes/espresso/js/jquery.easing.js?ver=1.0'></script>
                <script type='text/javascript' src='http://demo.scheetzdesigns.com/espresso/wp-content/themes/espresso/js/fitvids.js?ver=1.0'></script>
                <script type='text/javascript' src='http://demo.scheetzdesigns.com/espresso/wp-content/themes/espresso/js/StackBoxBlur.js?ver=1.0'></script>
                <script type='text/javascript' src='http://demo.scheetzdesigns.com/espresso/wp-content/themes/espresso/js/magnific.js?ver=0.9.5'></script>
                <script type='text/javascript' src='http://demo.scheetzdesigns.com/espresso/wp-content/themes/espresso/js/jquery.blurSlider.js?ver=1.0'></script>
                <script type='text/javascript' src='http://demo.scheetzdesigns.com/espresso/wp-content/themes/espresso/js/jquery.main.js?ver=1.0'></script>
                <script type='text/javascript' src='http://demo.scheetzdesigns.com/espresso/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=2.0.20'></script>
                <script type='text/javascript' src='http://demo.scheetzdesigns.com/espresso/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.60'></script>
                <script type='text/javascript' src='http://demo.scheetzdesigns.com/espresso/wp-content/plugins/woocommerce/assets/js/jquery-placeholder/jquery.placeholder.min.js?ver=2.0.20'></script>
        --></body>
</html>

<script>
    
    initLoginBox();
    
    jQuery(document).keyup(function(e) {
        
        if (e.keyCode == KEYCODE_ESC) { uLoginBox.clear() } 
    });
    
    jQuery('#login').click(function(){
        //        showLoginBox();
        jQuery("#tt").show(500);
    });
    
    jQuery('#login2').click(function(){
        //        showLoginBox();
        jQuery("#tt").hide( "500" );
    });
    
    function submetence(){
        jQuery('#loginForm').submit(function() {
            jQuery("#botao").focus();
            jQuery('#ajaxMessage').hide(500);
            jQuery('#loginWaiting').show();
            disableButton("#botao");
            disableInput("#login-input, #senha-input");
            if (jQuery(this).data('shouldSubmit')) {
                return true;
            }

            jQuery.ajax({
                url: '/login',
                type: 'get',
                dataType: 'json',
                context: this,
                data: {
                    login : jQuery('#login-input').val(),
                    senha : jQuery('#senha-input').val()
                },
                success: function (erro) {
                    jQuery('#loginWaiting').hide();
                    if (erro) {
                        jQuery('#senha-input').val("");
                        //                        jQuery('#loginMessage').html(erro.msg)
                        jQuery('#ajaxMessage').show(500);
                        enableButton("#botao, #cancelar");
                        enableInput("#matricula, #senha");
                        jQuery("#matricula").focus();
                    }else{
                        jQuery(this)
                        .data('shouldSubmit', true)
                        .submit();
                    }
                }
            });
            return false;
        });
    }
    
    function showLoginBox(){
        
        submetence();
    
        uLoginBox.alert({
            width: '500px',
            opened: function() {
                jQuery("#login-input").focus();
                jQuery("#login-input, #senha").keypress(function(event) {
                    if ( event.which == KEYCODE_ENTER ) {
                    }
                });
                jQuery('#loginCancel').click(function(){
                    uLoginBox.clear(); 
                });
                jQuery('#botao').click(function(){
                });
            }
        });
    }
    

</script>